@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: NorthernTerritories;
  src: url(NorthernTerritories.ttf);
}

.NorthernTerritories {
  font-family: NorthernTerritories;
}
